@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:orange;font-size:45px;">
        <b>Test</b>
    </div>
    <div>
        <pre style="font-size:20px;">
            Dear
                如果您收到信代表我成功了！您也成功註冊了呦！
                按<a href="@ViewBag.ConfirmationLink">這裡</a>登入
        </pre>
    </div>
</body>
</html>
