
@{
    ViewBag.Title = "AfterLogin";
}


<br />
<br />

<h2>AfterLogin</h2>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap-sketchy.min.css" rel="stylesheet" />



@if (Session["ID"] != null)
{
    <div>
        Welcome : <a href="#">@Session["UserID"]</a><br />
        <a href="@Url.Action("Logout", "Register")">Logout</a>
    </div>
}

