
@{
    ViewBag.Title = "Success";
    Layout = null;
}


<br />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap-sketchy.min.css" rel="stylesheet" />

<p style="font-size:24px">請於註冊信箱確認，以利開通帳號。</p>

